.rouge{
    color: red;
}
.blanc{
    color: white;
    background-color: black;
}

.image{
    background-color:#333333;
    margin: 0px auto;
    border: 5px solid red;
    border-radius:10px ;
    padding: 25px 25px 40px 25px;
    margin-top: 20px;

}
img{
   width: 100%;
}

figcaption{
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
}

.cadre{
    border:3px  dashed #574BAE;
    background-color: #B7B7B7;
    margin: 25px;
    padding: 10px;
    color: #574BAE;
}
.dark-back{
    background-color: darkgray;
}
tr:hover{
    background-color: grey;
}
body{
    background-color:#C8C8C8;
    margin: 100px;
    font-family: 'Roboto', serif;
}

table{
    cursor: pointer;
}
.titre1{
    font-family: 'Libre Baskerville-Bold', serif;
    font-size: 60px;
    text-align: center;
}

.titre2{
    font-family: 'Libre Baskerville-Regular', serif;
    font-weight: bold;
    color: red;
    font-size: 25px;
}

a{
    font-weight: bold;
}