.entete{
    color: white;
    background-color: #333333;
}

.image{
    background-color:#333333;
    margin: 0px auto;
    border: 3px solid red;
    border-radius:10px ;
    padding: 25px 25px 40px 25px;
    margin-top: 20px;

}
img{
   width: 100%;
}

figcaption{
    color: white;
    font-style:italic;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
}

.cadre{
    border:3px  dashed #6400B1;
    background-color: #B7B7B7;
    margin: 25px;
    padding: 25px;
    color: #6400B1;
    font-size: 22px;
    line-break: auto;
}
.dark-back{
    background-color: #DDDDDD;
}
.entete ~ tr:hover{
    background-color: #999999;
}
body{
    background-color:#C8C8C8;
    margin: 100px;
    font-family: 'Roboto', serif;
}

table{
    cursor: pointer;
    border-collapse: collapse;
}
.titre1{
    font-family: 'Libre Baskerville-Bold', serif;
    font-size: 60px;
    text-align: center;
}

.titre2{
    font-family: 'Libre Baskerville-Regular', serif;
    font-weight: bold;
    color: red;
    font-size: 25px;
}

a{
    font-weight: bold;
    color: red;
}

th,td{
    padding: 10px;
}
h2{
    margin: 0px;
}